
  @media screen and (min-width: 576px) and (max-width: 960px) {
    nav,
    nav > ul,
    .gammer {
      flex-direction: column;
    }
    .banner-section {
      flex-direction: column-reverse;
    }
    nav > ul > li {
      gap: 10px;
      padding: 20px 46px;
    }
    .img {
      width: 100%;
      height: auto;
    }
    .funny-video {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      margin: 0;
      padding: 0;
    }
    .funny-img > p {
      font-size: 40px;
      width: 100%;
      padding-bottom: 20px;
    }
    footer {
      background-color: #0b0223;
      padding: 56px 46px 0px 0px;
      margin: auto;
      text-align: center;
    }
    .footer-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    .footer-link {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 30px;
    }
    .footer-text {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    .footer- {
      color: rgba(255, 255, 255, 0.6);
    }
  }





  @media screen and (max-width: 576px) {
    nav,
    nav > ul,
    .gammer,
    .download-section {
      flex-direction: column;
      padding: 0px;
    }
    .banner-section {
      flex-direction: column-reverse;
    }
    nav > ul > li {
      gap: 10px;
      padding: 20px 46px;
    }
    .banner-img {
      width: 100%;
    }
    .banner-catagory {
      padding: 20px 30px;
      text-align: center;
      width: fit-content;
    }
    .banner-section > img {
      padding: 0px;
    }
    .gammer-texts {
      padding: 27px;
    }
    .video-text > h1 {
      color: #0b0223;
      font-size: 20px;
    }
  
    .video-text > p {
      font-size: 10px;
    }
    .img {
      width: 300px;
      height: auto;
    }
    .card > img {
      width: 82%;
      margin-left: 56px;
    }
    .funny-video {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 0;
      padding: 0;
    }
    .video-text {
      padding: 0px;
      padding-top: 30px;
    }
    .card-img > img {
      width: 150px;
      position: relative;
      bottom: 124px;
      left: 11px;
    }
    .game-catagory {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
    }
    .div > img {
      width: 27px;
      height: auto;
      margin-right: 0px;
    }
    .div > p {
      color: #0b0223;
      font-size: 9px;
      padding: 0px;
      margin: 0px;
    }
    footer {
      width: 100%;
      background-color: #0b0223;
      padding: 56px 26px 15px 2px;
      margin: auto;
      text-align: center;
    }
    .footer-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    .footer-link {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 30px;
    }
    .footer-text {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    .footer- {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  